[2015-03-18 09:46] dhautot opened #2 "Multiple calls fdf.data conflict"
Hi !

Great tool ! thanks!

When looping to generate several PDFs, a conflict seems to appear with the tempFDF = "data.fdf".

I solved this issue by changing the FDF name file in the index.js file :

 var formData = fdf.generate( fieldValues ),
 tempFDF = "data" + (new Date().getTime()) + ".fdf";

This ensure that the tempFDF file will be unique at any time.

[2015-05-11 17:43] whitef0x0 opened #4 "Licensing ambiguity"
Hey there!

I'm currently working on a fork of pdffiller and I'm confused as to which license the project is using as you include the MIT license in your license.md file, however in your package.json file, the license is listed as BSD.

And if you are using BSD, could you please specify which version of BSD you are using (I'm assuming you are using the BSD-2/3 clause version)?

Cheers

[2015-05-11 23:36] johntayl commented on #4
Good catch. This was overlooked when the license was updated. I'm using the MIT license.

Thanks!

[2015-05-11 23:36] #4 closed

[2015-05-25 14:32] lvarayut opened #5 "Would it be possible to use utf8 characters?"
First of all, thanks for the great library. I generated a form filled with English words, it worked like a charm However, when I tried to fill with French or any other languages, I got some weir characters like `à1•à ̧€à ̧aà ̧±à ̧à ̧ ̈à ̧2à`. Is there any work around to come across this problem?

[2015-07-27 21:43] whitef0x0 opened #8 "Update/republish NPM package"
Npm package is still at old release.

[2015-07-27 21:51] johntayl commented on #8
Didn't know it was on NPM, someone else has published the repo. I don't have access to update it.

[2015-07-29 02:29] Chun-Yang commented on #8
Can you rename this package? Or create a new repo and fork this then rename it?

[2015-07-29 03:45] Chun-Yang opened #10 "Can not recognize form fields"
I tried to get field names for thie file: http://www.irs.gov/pub/irs-pdf/f1040nr.pdf
[code]
The result is always empty object.

[2015-07-29 15:44] johntayl commented on #8
Updated NPM package is now available. [node-pdffiller](https://www.npmjs.com/package/node-pdffiller)

[2015-07-29 15:44] #8 closed

[2015-09-03 23:08] whitef0x0 commented on #10
Sorry for the wait.

I've fixed this issue (which has been tested) in Pull Request #14.

If you are impatient and don't want to wait until this PR is merged, you can always use my fork (github.com/whitef0x0/pdffiller)[github.com/whitef0x0/pdffiller] until the changes are merged.

[2015-10-01 19:15] whitef0x0 commented on #10
This should be closed. Testing are passing and error reported is fixed

[2015-10-01 19:16] whitef0x0 commented on #5
Can you provide an example of input characters and their corresponding outputs?

[2015-10-02 03:30] #10 closed

[2015-10-23 23:00] harigopalakrishna commented on #2
I just created a pull request 18, to address this situation for high traffic pdf filling needs

[2015-11-12 13:47] ExperimentalRat commented on #5
I am sending .fdf  data like this:
data =
  'last_name' : 'Johnамва' (with 4 russian letters)
 and in PDF I got this:
  'last_name' : 'John'
Pls help me solve this problem, I've read if I will send .xfrf data it could help but also I dont know how to set in PDF required fields, I mean I tried to send data to empty PDF and nothing changes, so I need to prepare PDF somehow, but how?Thx.

[2015-11-12 15:20] ryates8 opened #21 "Uppercase MD5 is now deprecated. FDF module should reference lowercase md5"
https://www.npmjs.com/package/MD5

The index.js file within the fdf module references the deprecated version of md5. Not a big issue, but wanted to put it on your radar. We don't commit our node_modules so we had to request that everyone on the team fix this in their local copy's.

[2015-11-19 04:58] whitef0x0 commented on #21
I'll look into this tommorow.

[2015-11-19 04:59] whitef0x0 commented on #2
This is already fixed if you look at the current source code.

[2015-11-19 05:01] whitef0x0 commented on #2
@johntayl this issue should be closed. I fixed this a while ago and its confusing to new contributors to have solved issues still open.

[2015-11-19 05:02] #2 closed

[2015-11-19 05:13] johntayl commented on #21
It looks like the FDF module requires, but never uses MD5. [See Here](https://github.com/countable/js-fdf/blob/master/index.coffee#L41)

[2015-11-19 05:13] whitef0x0 opened #22 "Move to XFDF"
The current library we are using js-fdf seems like it is deprecated (last commit to any code was over 2 years ago). Might want to look into moving to xfdf as it seems better supported.

[2015-11-19 05:16] whitef0x0 commented on #21
Maybe we should just move the XFDF instead? (see my most recent issue)

[2015-11-19 05:18] johntayl commented on #21
Closing. See #22

[2015-11-19 05:18] #21 closed

[2015-11-20 01:37] whitef0x0 commented on #5
Seem like this is due to lack of utf8 support in one of our dependencies, https://github.com/countable/js-fdf

[2016-01-03 18:43] infos opened #25 "Executing on Heroku"
Hello - Your git is a major time saver from using iText. I am using it to fill PDF forms with data from a document in mongo db. However, I am running into issues when I deploy this to Heroku.

I am able to execute this hardcoded command and create the filled pdf on heroku bash.
'pdftk in.pdf fill_form data145.fdf output filledout.pdf flatten'

But it does not work within my node api. I get a 'Proc

[2016-01-17 14:57] lacrioque opened #26 "Error sys is deprecated"
While starting with nw.js 0.12.2
I get the error
sys is deprecated. Use util instead.
util.js:66 deprecatedsys.js:13 (anonymous function) node.js:867
NativeModule.compilenode.js:836
NativeModule.requiremodule.js:281
Module._loadmodule.js:356
Module.requiremodule.js:375
./node_modules/pdffiller/index.js:10 (anonymous function)
./node_modules/pdffiller/index.js:144 (anonymous function)
module.js:451

[2016-01-17 15:03] lacrioque commented on #26
Sorry had not the latest release installed.

[2016-01-17 15:03] #26 closed

[2016-01-29 06:49] whitef0x0 commented on #25
Does it work locally for you?

[2016-01-29 23:51] infos commented on #25
I should have closed this. This works in heroku for us now. One of my developers fixed it. The PATH variable was incorrectly set.

[2016-01-29 23:51] #25 closed

[2016-02-26 01:11] deltreey opened #27 "Tests Fail?"
I cloned the library and installed PDFtk for windows to try it out.  It passed all tests but one (btw, you should probably list mocha as a dev dependency and update the package,json `npm test` script).  The test was:

[code]

Notice the should.**not**.eql  I'm confused.  This test failed because the output matched the expected data.  Maybe I'm missing something, but why shouldn't it?

[2016-02-26 01:13] deltreey opened #28 "npm install fails on Windows 10"
I don't know why, but it appears to be complaining about an incompatible version of MD5 and talks about my system's architecture.

[code]

Any ideas?

[2016-04-02 22:25] Taakn opened #31 "Form cannot be edited after going through pdffiller"
Hello,

Once I fill out my pdf form with pdffiller (and everything works great), the form becomes a read-only pdf document. My understanding after testing is because you include by default the `flatten` option in your command `"pdftk " + sourceFile + " fill_form " + tempFDF + " output " + destinationFile + " flatten"`.

Would it be possible to include flatten as an optional input parameter in the

[2016-04-12 21:57] whitef0x0 commented on #31
I'll look into it

[2016-04-12 21:59] whitef0x0 commented on #5
This has been fixed. See PR#30

[2016-04-13 19:48] whitef0x0 commented on #27
Yep you are right the test should say should.eql

[2016-04-18 17:19] Taakn commented on #31
@whitef0x0 thanks it's a separate issue but could you change the callback in fillForm so that it returns the standard `function(error, return) `? That way we can use wrapAsync to use the synchronous version of the function ?

The function would look something like that (0 for failure, 1 for success):

[code]

And to use the synchronous version we can have:

[code]

[2016-04-30 21:27] CEXKSharma opened #32 "Cannot find module 'pdftk'"
I install this library and install the pdftk as well. but, for some reasons it keeps saying the message below. Could anyone please help me to run this library. Thanks.

module.js:340
    throw err;
          ^
Error: Cannot find module 'pdftk'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at r

[2016-05-06 20:37] whitef0x0 commented on #32
You must install pdftk before using this npm module

[2016-05-10 08:43] whitef0x0 commented on #27
@johntayl can you close this?

[2016-05-10 08:53] whitef0x0 commented on #22
This was fixed in PR #30

[2016-05-10 08:53] #22 closed

[2016-05-10 13:12] #27 closed

[2016-06-04 23:53] kevitan commented on #31
I've put in a pull request #34 to make flatten  parameter to pass into `fillForm()`

[2016-06-24 18:10] whitef0x0 commented on #28
md5 error can be ignored

[2016-06-24 18:11] whitef0x0 commented on #28
hmmmm @deltreey did you get it to work?

[2016-06-24 19:36] deltreey commented on #28
I'll take a look Monday probably.  My laptop is in pieces at the moment as I'm moving hard drives around.

[2016-06-28 17:23] deltreey commented on #28
debug log attached.  Ran it on my Win 7 work PC.  See the debug log if you like.

https://gist.github.com/deltreey/34b3417484940fb7031f4b38245f1078

[2016-06-28 20:53] whitef0x0 commented on #28
@deltreey see this for a possible solution https://github.com/nodejs/node-v0.x-archive/issues/4047

[2016-06-29 01:17] deltreey commented on #28
I am not encountering the issue currently.  I see it in a dependency list for an app that I work on regularly, and I don't remember what was wrong back when I posted this.  I'm closing this.

[2016-06-29 01:17] #28 closed

[2016-06-30 07:22] saurabhbhandari2006 opened #36 "Not able mark check box"
I have marked field on pdf using Adobe Cycle. I have marked checkbox of gender with input name as male and female. at the time creation of object we assigned value to it. but after writing to file.
field not gets as marked one.
 please reply asap

[2016-07-20 03:06] whitef0x0 commented on #36
Can you give us more information (like an example pdf so we can replicate this?).

[2016-07-20 03:07] whitef0x0 commented on #31
@johntayl this should be closed

[2016-07-20 03:07] whitef0x0 commented on #5
@johntayl this should be closed

[2016-07-20 20:52] #31 closed

[2016-07-20 21:41] #5 closed

[2016-08-23 15:05] tdhz77 opened #38 "callback is not a function"
When trying to grab FDF data from a form. I get this error.

What am I doing wrong? What is the regexName parameter?
[code]
[code]

[2016-08-23 15:18] tdhz77 commented on #38
Tried to use test.pdf from your repo. Used another pdf and was able to get the fdf data.

[2016-08-23 15:43] tdhz77 commented on #38
Still struggling to fill..
data = {
  BL_SUBMANUAL: '',
  BL_SUBMANUAL1: '',
  BL_SUBMANUAL2: '',
  BL_SUBMANUAL3: '',
  BL_SUBMANUAL4: '',
  BL_SUBMANUAL5: '',
  BL_SUBMANUAL6: '',
  BL_SUBMANUAL7: '',
  BL_SUBMANUAL8: '',
  BL_SUBMANUAL9: '',
  BL_SUBMANUAL10: '',
  BL_SUBMANUAL11: '',
  BL_SUBMANUAL12: '',
Still struggling to fill..

  BL_SUBMANUAL: '',
  BL_SUBMANUAL1: '',
  BL_SUBMANUAL2: '',

[2016-08-23 15:47] tdhz77 commented on #38
The PDF gets generated, but I do still get this error.

[code]

[2016-08-23 15:48] johntayl commented on #38
`nameRegex` is available to override the default field name regex.

Pass `null` as a second parameter.

[code]

[2016-08-23 18:03] tdhz77 commented on #38
Thank you for your response. How about with the fillForm method?
[code]

[code]

[2016-08-23 21:47] johntayl commented on #38
I see the README is wrong, I'll update it.

`fillForm` does not require `shouldFlatten` parameter.

[2016-09-02 13:53] dddent opened #40 "Remove FDFs"
Is there a way to remove the .fdf files from the project dir automatically?

[2016-09-02 22:07] whitef0x0 commented on #40
You could use this https://nodejs.org/api/fs.html#fs_fs_unlink_path_callback

[2016-10-29 03:06] ChristianDavis commented on #36
@whitef0x0 I've found that it depends on the PDF, but most checkboxes or radios I have found you need to set them to "Yes" or "On" in order to mark them checked

[2016-12-23 07:06] nagbhushan commented on #38
Passing  null as a second parameter worked for me.

[2017-02-07 04:46] 1312624 opened #45 "ReferenceError: convFieldJson2FDF is not defined"
I had this error when using the **Generate FDF Template from PDF** example.

Then I saw your latest commit in index.js so I removed this line (line 100)
`return callback(null, convFieldJson2FDF(_form_fields));`

and replace it with your previous code

`var _keys   = _.pluck(_form_fields, 'title'),`
       `_values = _.pluck(_form_fields, 'fieldValue'),`
       `jsonObj = _.zipObject(_keys, _values

[2017-02-07 15:17] johntayl commented on #45
Fixed in pull request #44

Published to npm v0.0.10

[2017-02-07 15:17] #45 closed

[2017-02-10 02:40] 1312624 opened #46 "mapForm2PDF does not work"
My code :

[code]
And the output is nothing!

[2017-02-10 03:40] johntayl commented on #46
I'll update the README with proper documentation. `mapForm2PDF` has been changed and no longer requires a callback.

This should be the format:
[code]

Which will result in:
[code]

[2017-02-10 03:49] #46 closed

[2017-02-14 09:52] 1312624 commented on #46
Hello johntayl. At FillForm method, can I have a stream of filled pdf file?

[2017-02-16 02:51] 1312624 opened #49 "How to handle PDF Stream at fillForm method"
In README we have an example of fillForm method:

[code]

I have a question, can we have a way to handle the filled form PDF before saving it to destinationPDF path??

In my project, can I send a filled PDF to my client through REST API.
Here is my code..

[code]

Any help would be appreciated, tks so much!

[2017-02-23 01:35] anthonywebb opened #50 "How to build the source pdf?"
Curious what tool you guys are using to build the PDF form that is to be filled?  I am sure Adobe's product will do that, but are there other applications that are available to do the same thing?  Most of the PDF utilities I have seen out there are good at joining or reordering existing PDF's, but make nno mention of actually building a fillable PDF form that would be compatible with this "pdffill

[2017-02-23 17:25] whitef0x0 commented on #50
@anthonywebb I'm using pre-made fillable pdfs, so no need to generate them for my use-case.

[2017-02-23 17:34] whitef0x0 commented on #50
But probably the best way of doing this is using something like this https://github.com/mainegreen/pdf.js or something like this https://www.hiqpdf.com/documentation/html/4fcaefe5-86bc-4326-b9c3-7aa0d4aa8b11.htm.

I'm sure something like PDFtk also has support for creating fillable PDFs if you look deeply enough.

[2017-02-23 17:50] maximilianschmidt opened #51 "Test files only generating Temp_Data.fdf's, no test_complete.pdf"
hi there,

i was just fiddling around with this module and was trying to get the `test.pdf` from `/test/` filled out by running the first sample code from the [readme](https://github.com/johntayl/pdffiller#1fill-pdf-with-existing-fdf-data). all im getting as a result is a random-named `*.fdf` file (eg. `temp_data1487871079565h1snj9fzwkpgfgdcgnwmi.fdf`).

when i try to run the script with my own pd

[2017-02-23 18:57] maximilianschmidt commented on #51
ok, nervermind. its a [bug](http://stackoverflow.com/questions/39750883/pdftk-hanging-on-macos-sierra) with pdftk

[2017-02-23 18:57] #51 closed

[2017-02-23 22:08] florianbepunkt commented on #51
@maximilianschmidt just encountered the same problem, although not on osx sierra. have you found a solution to this?

[2017-02-23 22:17] maximilianschmidt commented on #51
yes, please see this link: http://stackoverflow.com/questions/39750883/pdftk-hanging-on-macos-sierra

seems to be a special version of pdftk fixing this problem.

[2017-03-06 20:03] soitgoes opened #55 "Unit Test not running successfully"
On Mac Osx
node version 7.5.0 and 5.12.0
PDFtk version 2.0.2
on master branch

pdfFiller Tests
    fillForm()
      1) should not throw an error when creating test_complete.pdf from test.pdf with filled data
      2) should create an completely filled PDF that is read-only
      3) should create an completely filled PDF that is read-only and with an specific temporary folder for FDF files
      4)

[2017-03-10 07:12] sammartinj opened #56 "Unable to download PDF with special characters like "&$%*" etc."
Hey Guys, I have been trying to fix this issue for a while. But it doesn't work. When the file name of the PDF contains "&$*^@!" etc it doesn't download the file. When I checked in the folder: "/var/folders/zx/b_048vz90m78z4703gcx42tw0000gp/T/" PDFTK is trying to create a file in a different file name excluding the special characters.

Example: Filename: "example&Cb-2015-06-30.pdf"

What I find in

[2017-03-20 01:12] jasonphillips commented on #55
On recent versions of OSX, pdftk may hang indefinitely. I ended up having to set up a Docker container (with node + pdftk) in order to begin developing on this at all.

You might to invoke the form_fill method of pdftk directly on the command line and see if it stalls.

[2017-03-20 01:20] jasonphillips commented on #49
I needed this as well (for a microservice where I don't want to generate a lot of temporary files) but then realized it's just not the design of this library at the moment, since it invokes `pdftk` with execFile and then waits for its completion.

So I forked the project and set it up to return a stream within a promise: https://github.com/jasonphillips/pdffiller-stream

Streams can be served to t

[2017-03-20 01:26] jasonphillips commented on #55
So I just found out that the company behind pdftk released an alternate build for OSX 10.11-10.12, but still have not updated the main download links on their site. You can access the corrected build here:

https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/pdftk_server-2.02-mac_osx-10.11-setup.pkg

[2017-03-20 02:38] 1312624 commented on #49
Tks @jasonphillips

[2017-03-20 03:17] whitef0x0 commented on #49
@jasonphilips if you added streaming as an option In sure we would be open to adding it to the project

[2017-03-22 12:28] maximilianschmidt commented on #55
seems to be the same bug as mentioned in issue #51

[2017-03-31 10:47] rastkojokic opened #58 "Unknown characters in resulting pdf"
Hey guys, trying to do a proof of concept filling out pdf form.

This is my code:

[code]

And the resulting document is this:

[filled-form-1.pdf](https://github.com/pdffillerjs/pdffiller/files/885309/filled-form-1.pdf)

[2017-05-03 12:40] helgetan commented on #49
Could you make an example how to do this with express ?
i'm a bit stuck here:
[code]

[2017-06-08 17:47] maximilianschmidt commented on #58
Hi there,

Maybe try changing the font of the form fields (in adobe right click form field -> settings -> appearance). That helped me when i encountered a problem with the rendered text.

However i am encountering a (maybe) similar problem:

When filling a pdf with strings containing special characters, some are displayed in the rendered form and some are not. for example, the string
`"Wypełnić Pe

[2017-06-08 17:49] maximilianschmidt opened #59 "Some special characters are rendering to pdf file, some are not"
Hi there,

i am encountering a strange problem.

When filling a PDF with strings containing special characters, some are displayed in the rendered form and some are not.

For example, the string:
"Wypełnić Pełnomocnictwo, podpisać i wstawić pieczątkę."
renders to
"Wypełni Pełnomocnictwo, podpisa i wstawi piecz tk ."

The "ć, ą and ę" are missing and are rendered as a blank or as a square to the PD

[2017-06-08 18:25] maximilianschmidt commented on #59
ok, nevermind. found out the problem is with adobe either not showing the characters or using a wrong font encoding.  apparently nothing to do with pdffiller.

[2017-06-08 21:24] maximilianschmidt commented on #59
actually, this is a problem with pdftk and some special characters (see https://github.com/mikehaertl/php-pdftk/issues/4). basically we need an option to call `fillFormWithOptions` with pdftk's `need_appearances` argument (see [here](https://www.pdflabs.com/docs/pdftk-man-page/#dest-output-need-appearances)). keep in mind that it wont work with the option `flatten` set to `true`

[2017-06-08 22:19] senica commented on #55
This does not seem to be related to pdffiller itself, but rather pdftk. I had a similar setup as @soitgoes and then ran into the issue referenced by @maximilianschmidt . That solved the problem for me with no changes to pdffiller

[2017-06-20 06:25] mahiagit opened #61 "prefilling check boxes and radio not working"
I am providing the existed data to the Pdf form. All the text data is being nicely populated with the pdf filler but when going for the checkboxes or radio nothing is working out. Creating the data as below:

data = {
            "NAME":"Test",
            "Test CheckBox1":"Yes",
            "Test CheckBox2":true,
            "Test CheckBox3"":1,
            "Test CheckBox4 ":"On"
    }

Not any o

[2017-06-22 09:27] MichaelIT commented on #59
@maximilianschmidt tks, It work when filling chinese characters

[2017-07-23 14:59] maximilianschmidt commented on #61
have you checked if the Export-Value of the checkbox is indeed one of the values you set? it might differ. check with adobe acrobat -> right click on the checkbox -> properties -> options -> export value.

[2017-07-24 04:31] mahiagit commented on #61
Yes there was difference in the values. thanks @maximilianschmidt

[2017-10-16 14:31] DamickDoni opened #62 "Unhandled Java Exception in create_output():"
I just want to test pdffiler, if my task can be done by this module. BUt after installing pdftk and code the example into my project, I get this error:
[code]
My example code looks like this:
`   var pdfFiller   = require('pdffiller');
    var sourcePDF = "xxx.pdf";
    var destinationPDF =  "destination.pdf";
    var data = {
        "prename": "Name written",
        "clientlastname": "lastname

[2017-11-04 16:12] mezlad opened #63 "Include Image"
I am new to the pdftk service, I am just wondering if there is a way using pdfiller to include a base64 image as a signature after document creation

[2018-02-14 18:31] JMurphyWeb opened #66 "How to check file is correct format"
Thanks for producing this package, it's served me very well so far 👍

I've done some googling but not found anything of use.

I want to know if there is any way to check if a form is of the correct type for this package to be used to merge data into a fillable pdf? As user's are uploading their own PDFs, I want to prevent anything but `Acroform`s being uploaded, does anyone know of a way we could

[2018-03-17 16:33] obiwankenoobi opened #67 "testing code returns an empty object"
how can I add IDs to an exist PDF so I could use the tool on it?

[2018-03-19 12:26] #67 closed

[2018-03-21 18:10] nabgilby opened #68 "ng serve Errors: Module not found: Error: Can't resolve 'child_process'"
node -v v8.9.4
gyp ERR! node-gyp -v v3.6.2

I am on a Mac, OS High Sierra 10.13.3

I've searched and tried everything I could find on Module not found: Error: Can't resolve '../build/Debug/iconv.node', including cd node_modules/iconv, node-gyp configure, node-gyp rebuild, still the same issue.

Thank you for your consideration.

----------------
ng server --port 4300
** NG Live Development Server

[2018-04-18 15:43] itjustwerks commented on #63
I'm curious as well if there's a way to embed an image into a fillable PDF form into a specific field?

[2018-04-18 16:03] soitgoes commented on #63
No that's out of scope for this.  You can do that with iText

On Wed, Apr 18, 2018 at 10:43 AM, Nathan Jass <notifications@github.com>
wrote:

--
Martin Murphy
Whiteboard-IT
http://whiteboard-it.com
w: (205) 588-7102

[2018-04-27 12:31] itjustwerks opened #69 "Clean up "temp_data" .FDF files after processing"
I'm wondering why the "temp_data****.fdf" files stick around after a file has been processed. Is it possible to have them cleaned up so they don't consume space? I'm running this on a Google Cloud instance, and would prefer not to have to worry about growing disk space. I would just schedule a job to remove them all at some interval, but I wouldn't want to delete one that was in use by a current p

[2018-04-27 13:28] soitgoes commented on #69
typically if you put them in /tmp it will be cleaned up by the OS any time
the machine reboots

On Fri, Apr 27, 2018 at 7:31 AM, Nathan Jass <notifications@github.com>
wrote:

--
Martin Murphy
Whiteboard-IT
http://whiteboard-it.com
w: (205) 588-7102

[2018-05-02 15:21] calexanderbynum opened #70 "Read field values: attached an extension to your code to do this"
Figured you might want to add this in.  Super helpful for sending out fillable pdf's and then reading the data.

Some extras in here, such as the include, because I overrode your function with mine so when/if I update your code it won't break.

I am kinda bad at regex so please criticize and make changes as you see fit.

pdfFiller.generateFieldJson = function( sourceFile, nameRegex, callback){
var

[2018-05-07 18:47] dldereklee opened #71 "exec error: Error: spawn pdftk ENOENT"
Trying to run the generateFDFTemplate function, but I keep getting:
`exec error: Error: spawn pdftk ENOENT`

I found a couple forum responses that say to install pdftk, but I already installed pdftk by using:
`npm install pdftk --save`

Here is my function that I am trying to execute. The test.pdf is the one from the repo:
[code]
Any help is much appreciated

[2018-05-07 21:07] #71 closed

[2018-05-07 21:08] dldereklee commented on #71
Needed to use installer from this Stack Overflow post. Now it works.
https://stackoverflow.com/questions/32505951/pdftk-server-on-os-x-10-11/33248310#33248310

[2018-06-26 13:59] drexelapplab opened #72 "describe function not defined"
When I load the test.js within my terminal using node I recieve this:

describe('pdfFiller Tests', function(){
^

ReferenceError: describe is not defined
    at Object.<anonymous> (/Users/julesk/pardon-app/test/test.js:21:1)
    at Module._compile (module.js:652:30)
    at Object.Module._extensions..js (module.js:663:10)
    at Module.load (module.js:565:32)
    at tryModuleLoad (module.js:505:12)

[2018-07-03 12:00] abimelex opened #73 "Documentation: Install pdftk on recent OSX"
Since there is no brew cask anymore and the officially versions from the website are not working properly on OSX High Sierra you should install the latest version: https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/pdftk_server-2.02-mac_osx-10.11-setup.pkg

I believe this should be updated in the readme.md

[2018-08-21 02:45] jezrielbajan opened #74 "Why not All Fields are Filled??"
I was trying out your code and example but not all fields are being filled out base from the data

[2018-08-21 17:58] JMichaelTX opened #75 "Can this be used on a Mac command-line, or with JXA?"
I need a tool to fill PDF forms that can be called from either the Mac command-line, or from JavaScript for Automation (JXA).  Can your system be used like this?

If so, please provide detailed instructions.

[2018-09-19 11:55] gowthamyaal commented on #68
I am facing the same error in Reactjs, can't solve this issue, can you help me with it
.?

[2018-09-19 12:46] mattboutet opened #76 "Using with async/await"
Not so much an issue as a note for future explorers.  Many of the functions of this library rely on `this`, and so won't work out of the box with `Utils.promisify`.

In order to successfully use promisify, it's necessary to use `bind` to correctly set the context when promisifying.

Example:
`const fillFormWithFlatten = Utils.promisify(PDFFiller.fillFormWithFlatten.bind(PDFFiller));`
`await fillFo

[2018-11-28 07:14] 6112115 commented on #59
To add to this, I checked the FDF file output, and that is where the issue is. This is nothing to do with pdfkit inserting the data. If you open index.js in this project and comment out the unlink line, and inspect the resulting fdf file, the data is incorrect before even inserting into the PDF.

The FDF generator is utf8-fdf-generator. Maybe its time this project used a more modern FDF generator?

[2018-12-20 14:58] LarsSjogreen opened #77 "npm audit lodash vulnerability"
[code]

pdffiller uses an old version of lodash. This makes the builds break (for me) due to `npm audit` warnings and I can't fix them with `npm audit fix --force`. (Also, it's a vulnerability...)

[2018-12-28 08:49] jkomyno commented on #77
+1, same for me

[2019-01-31 22:19] pkuenemann opened #79 "Problems with ')' in form-fields"
We are came across a problem using pdf filler when we try to populate fields with text containing a closing bracket without an opening bracket before (like: "hi guys :-)"). Escaping the bracket with a backslash before does not help. Pdftk runs into an exception. Is this problem known and is there maybe a solution for it?

Would appreciate any help. Thanx

[2019-02-01 01:50] jedgarf opened #80 "how to use pdffilter in javascript/jquery?"

[2019-02-12 17:34] omarcarreon commented on #62
Hi, did you found the solution? I have the same issue

[2019-02-15 18:28] DJLunacy commented on #75
Fancy seeing you here lol! I haven't tried this tool out yet, but since I know how great you are with JS & JXA I was curious if you've had any success with this?

Thanks!

[2019-03-28 07:18] Andy-Sunbin commented on #59
@MichaelIT Can you tell me how to fill chinese charachters? I'll be very grateful to you.

[2019-03-30 15:08] ealtuna commented on #69
@soitgoes How can you control where are going to be created?

[2019-05-02 02:17] wallstudios opened #82 "pdffiller - google cloud function - question"
I'm trying to implement a pdf filler within a google firebase (function) environment without much luck.

Has anyone tried this with any success?

const bucket = storage.bucket('somebucket');
const sourcefilename =  '/test.pdf';
const sourcePDF = bucket.file(sourcefilename);

const filename =  "test-result.pdf";
const file = bucket.file(filename);
const destinationPDF = file.createWriteStream();

v

[2019-05-14 08:52] srht81 opened #83 "Some special characters have rendering problem as a pdf file in LocalReport"
Hi, I am using Microsoft.Reporting.WinForms.dll to render my RDLC as a pdf file but when i open pdf file with adobe reader i have a problem about some special Turkish characters. When i try to use CTRL + F for search some words in pdf file i couldn't find these words even if my pdf file included these Turkish characters. Also, when i copy-paste these words from in the file, i get like 􀃹􀃻􀁏􀁈􀁐􀀃􀀮. It

[2019-05-21 10:29] xyleen commented on #77
@johntayl
Hey, it seems that the issue is fixed, but the npm package is not updated. Could you push a new version to the npm repository (containing #78)?

[2019-05-21 13:34] johntayl commented on #77
@xyleen New npm package has been updated to v0.0.11.

[2019-05-21 13:34] #77 closed

[2019-05-28 15:47] deshario opened #85 "Installation Failed"
**iconv>if not defined npm_config_node_gyp**
I'm not sure what is missing from me ... I need help
![image](https://user-images.githubusercontent.com/11426727/58492037-51460200-819a-11e9-8b96-39c387a34fa0.png)

Log File :  [2019-05-28T15_39_26_165Z-debug.log](https://github.com/pdffillerjs/pdffiller/files/3228562/2019-05-28T15_39_26_165Z-debug.log)

[2019-05-31 16:49] studiomediaagency commented on #82
I have been struggling with this too. Uploading is not the problem, I just upload it using
[code]
But then again, the real problem is
[code]
pdftk is not available on Firebase Cloud Functions, I'm thinking about setting up a VM but I think is too much trouble. Have you resolved `spawn pdftk` by any chance?

[2019-06-02 14:00] deshario opened #86 "Extract PDF form field names from a PDF form"
How to extract pdf form fields from this lib ... Is it possible to extract from using javascript only ?

PDFTK Command : `# pdftk input.pdf dump_data_fields`

[Click here for Sample](https://stackoverflow.com/questions/2127878/extract-pdf-form-field-names-from-a-pdf-form)

[2019-06-09 21:03] jboxxx commented on #85
I'm failing on import with the below error message:

Failed to compile.

./node_modules/iconv/lib/iconv.js
Module not found: Can't resolve '../build/Debug/iconv.node' in './node_modules/iconv/lib'
^C

I also did `node-gyp rebuild` in ./node_modules/iconv and had the same error above.

Need help, the module is not usable after `npm install pdffiller`.   Did you find a fix for this?

[2019-07-06 15:08] duranmla commented on #36
Any news about this?
I have generated the FDF template for my PDF file. Which has something like:

[code]

I try to set that field to `Yes` in order to check the checkbox within the PDF and it doesn't work. I have properly populated other fields.

The data I am using is created like:

[code]

Screenshot of the PDF:
![image](https://user-images.githubusercontent.com/1425162/60757853-52c3df00-a010-1

[2019-07-06 15:14] duranmla commented on #36
From what I can see at https://github.com/pdffillerjs/pdffiller/blob/master/test/test_complete.pdf and https://github.com/pdffillerjs/pdffiller/blob/master/test/test.js#L30 it should work as expected not sure what I am doing wrong.

[2019-07-10 01:53] ronielramos commented on #85
The same, but only on windows, on linux and mac when i've tested, worked

[2019-08-05 20:08] maielo commented on #85
👍 +1:

[2019-08-17 01:54] diego-lipinski-de-castro commented on #85
+1

[2019-09-19 13:18] Lexouden commented on #85
+1

[2019-09-27 06:18] vijaypatoliya commented on #86
I am looking for a similar solution. I want to get PDF label name same as in PDF.

[2019-11-01 04:10] joncorrin commented on #36
Having the same problem.

![export_value](https://user-images.githubusercontent.com/23392999/68001776-cd99b100-fc22-11e9-997d-07584eaaadd0.PNG)

Im setting the export value to Yes on the PDF and am using this object to pass through the pdffiller method. Everything is filling but checkboxes. Code also works with other PDFs but for some reason not this one.@duranmla were you able to resolve this?
[c

[2019-11-05 16:44] pacosta613 opened #89 "Module isn't working live."
Not sure what the exact error is but the module works perfectly fine locally. It's actually great but when I try to use it on a live server I keep getting this error -

"[0m: err  Error: ENOENT: no such file or directory,"

I am using Heroku. Not entirely sure why this is happening live but not locally. Has anyone else experienced any issues using the module on a live server?

[2019-11-05 20:43] GDLMendonca commented on #89
I just had this issue.

You have to install the dependency "PDF Toolkit" onto your server.

I used their installation file & it worked fine: https://www.pdflabs.com/tools/pdftk-server/

Goodluck!

[2019-11-25 14:19] dweep119 commented on #36
Same issue facing.
Any updates....??

[2019-11-27 09:30] riselk opened #90 "On Adobe Acrobat Pro and Power Pdf, file is empty!"
Hi,

I have a problem when I'm opening a pdf filled with pdffillerjs with Acrobat DC (Adobe Acrobat Pro) and Power PDF.

On Windows, the pdf filled is empty for both of the software (acrobat pro and power pdf)
On Mac, the pdf filled is empty only with Acrobat Pro.

On Mac or Windows the pdf is well filled on browser like Mozilla, Chrome...

On Mac with Adobe Reader (free version) and Pdf Viewer, i

[2019-12-03 01:17] stefanve commented on #79
I have the same problem, single, or rather open, parenthesis cases pdfFiller to crash, like "Hi (guys"
Seem to be a pull request that fixes it, but it does not get merged.

[2019-12-03 14:54] ivan3065 opened #91 "generateFDFTemplate fails if PDF Form field has value of '-----'"
Snip from "dump_data_fields_utf8":
[code]

changing line 66 from
` fields = stdout.toString().split("---").slice(1);`
to
` fields = stdout.toString().split(/^---$/m).slice(1);`
solves the issue.

[2020-01-23 13:16] Marcosmaliki commented on #85
Same error here

[2020-01-28 15:52] miguel7020g commented on #36
i used foxit reader to export to csv, previously fill the checkbox ones exported you can see the value you need to pass

![image](https://user-images.githubusercontent.com/12485037/73280147-20501e00-41bc-11ea-9aea-699cc53db7d5.png)

![image](https://user-images.githubusercontent.com/12485037/73280229-3c53bf80-41bc-11ea-8d1b-6da939c88821.png)

[2020-02-13 20:02] pacosta613 commented on #89
@GDLMendonca really? Can you share the installation file used for this to work?

[2020-04-27 15:25] ArthurRodr opened #93 "Document permissions change after recreating in pdffiller"
Hello, I'm having problems with pdffiller, before using the tool, the PDF document opens normally in Acrobat Reader DC.
After using the tool, when opening Reader, the PDF starts to display the error:

_"This Document enabled extended features in Adobe Acrobat Reader. This document has been changed since it was created and use of extended features is no longer avaiable. Please contact the author fo

[2020-04-30 08:48] rsm23 commented on #85
+1

[2020-05-18 05:18] raynerhoward commented on #85
+1
Windows 10 not supported?  Not even for app development?  A word or two about this would be helpful.  Will be deploying on Linux but am developing on Windows 10.

[2020-06-24 05:00] gabrielavoll commented on #85
womp womp same here  on MacOS Mojave, hoping deprecating down the package will magically fix

[2020-07-12 15:23] lagavuliner opened #95 "Non-ASCII characters not being filled in form"
Hi, thank you for your script.
I can't get the non-ASCII characters into the completed PDF, do you know how I can troubleshoot and/or fix this problem?

[2020-07-15 09:02] ullalaaron opened #96 "Fill With Images"
Is it possible to fill a certain field with an image? maybe by providing a base64 string?

[2020-07-23 00:48] asapkot2 commented on #36
I have the same issue. Any way to resolve this?

[2020-07-23 03:24] miguelGamboa7020 commented on #36
i had the same problem and it was the reference ofthe filed i was using try cheking by conveting the file to csv and see the references there.

[2020-07-29 19:06] aphavichitr commented on #25
@infos how did you get this to run on heroku? I've added this buildpack to heroku: https://github.com/shake-apps/heroku-buildpack-pdftk and I'm not getting any errors when running pdfFiller.fillForm, however no file gets created after invoking that method. This works perfectly on my local machine, so there must be something that I missed.

[2020-07-29 19:18] aphavichitr opened #98 "fillForm doesn't create a new PDF when running on Heroku"
I'm unable to generate a new PDF when running on Heroku. This works fine when I'm running locally. I've added the buildpack https://github.com/shake-apps/heroku-buildpack-pdftk.git through the heroku dashboard settings. I'm not getting any errors when invoking pdfFiller.fillForm, so I think it's working, but no file is being outputted into the directory I specified. I am logging if there is an err

[2020-09-02 14:50] fusiller opened #99 "Button value may be 'On' and not 'Yes'"
Thank you for sharing your work !
As mentioned in the title the correct value for checking on a button is 'On' in my case.

You can check ambiguities by running directly pdftk <yourPdf> dump_data_fields

Regards
Alex

[2020-09-03 07:53] fusiller opened #100 "PDF with cas sensitive field names"
Hi,
just came across a PDF with 'Oui' and 'OUI' fields
Using directly pdfFiller.fillForm( sourcePDF, destinationPDF, data, function(err) {
where data is a simple object { 'name':'value', name:'value', etc.. }
Error was :
SyntaxError: Unexpected identifier
    at wrapSafe (internal/modules/cjs/loader.js:1053:16)
    at Module._compile (internal/modules/cjs/loader.js:1101:27)
    at Object.Module._e

[2020-10-14 14:06] bryannsi commented on #96
Any update ?

[2020-10-15 19:06] terrisgit commented on #95
I'm going to try https://github.com/eemeli/pdf-form-fill

[2020-12-02 04:02] jelizarovas commented on #86
[code]

it generates field names from the form.  you can try var pdfFiller = require('pdffiller-keepfields'); to also get field values

[2020-12-06 21:06] Osnat11 opened #101 "Using pdffiller for my Wix site"
Did anyone try it?
Can I use an online PDF file? Just to change the file path to the URL path?
let URL_path = "https://ff4066b3-fa1e-4f83-866c-5d6548bfdbe3.usrfiles.com/ugd/ff4066_85749710b488467f98302a1ec22f8708.pdf";
	var sourcePDF = URL_path;

[2020-12-20 23:44] michaeldoubek commented on #95
Same issue here for Czech characters

[2021-02-18 08:00] pkong-ds commented on #99
Just set the value as `Yes` or `Off`.
[code]
In my case the FieldStateOption is `On` vs `Off`, but setting value as `Yes` still works for me

[2021-03-01 13:42] rbadr commented on #95
Hello @snowlep @mikeoaklet 👋
Did you find a solution to your problem ? I'm encountering the same issue 😅

[2021-03-01 15:10] lagavuliner commented on #95
@rbadr No, and I scrapped my project for other reasons so I didn't find a work-around.

[2021-05-12 04:42] saiprasad9467 commented on #86
I need fields and its values
![PDF-EXTRACT](https://user-images.githubusercontent.com/63708628/117919356-7b067e00-b30a-11eb-9711-cf67e6e00eb0.PNG)
![PDF-EXTRACT-RESULT](https://user-images.githubusercontent.com/63708628/117919369-7f329b80-b30a-11eb-9ab5-0f84bd9477ae.PNG)

The above is my requirement and the image i pasted will be sent as the pdf

[2021-05-12 06:03] jelizarovas commented on #86
You can't get the values with this library. I switched to "pdf-lib" to have client side pdf manipulation and react-pdf to display that updated data

[2021-05-12 06:13] saiprasad9467 commented on #86
Is it possible in pdf-lib for my data retrieval as mentioned above??

[2021-05-12 17:02] jelizarovas commented on #86
Please explain more in detail what do you mean

[2021-05-14 11:30] ThatBrianDude opened #102 "exec error: Error: spawn pdftk ENOENT [REOPEN] (WINDOWS)"
exec error: Error: spawn pdftk ENOENT
C:\Users\User\Documents\Instant-Tester\commands\testme.js:29
        if (err) throw err
                 ^

Error: spawn pdftk ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:240:19)
    at onErrorNT (internal/child_process.js:415:16)
    at process._tickCallback (internal/process/next_tick.js:63:19)

Getting this on windows.
I've

[2021-07-27 00:28] pllearns commented on #85
This may still be an issue with Windows machines running WSL2.

[2021-11-26 01:13] vpeter1119 commented on #62
I'm having the same problem, couldn't find a solution

[2022-01-27 05:40] yingdi11 opened #103 "Doesn't support typejs"

[2022-01-27 05:43] yingdi11 commented on #103
https://medium.com/@steveruiz/using-a-javascript-library-without-type-declarations-in-a-typescript-project-3643490015f3

Actually, this works for me.

[2022-01-27 06:35] yingdi11 commented on #103
Actually, Nothing works

[2022-01-27 06:36] yingdi11 commented on #103
Actually, Nothing works

[2022-01-27 06:36] yingdi11 commented on #103
Actually, Nothing works

[2022-09-20 20:00] rgb-git commented on #62
Change the font of the fields to either Helvetica, Times Roman or Courier, pdftk will successfully create a PDF.
https://stackoverflow.com/questions/23948647/font-issue-with-pdftk